@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root, [data-theme] {
  background-color: transparent;
  /* color: var(--fallback-bc,oklch(var(--bc)/1)); */
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: rgb(var(--background-start-rgb)); */
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  width: 100vw;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 8px;
  margin-bottom: 8px;
}

::-webkit-scrollbar-thumb {
  background: oklch(var(--p));
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555bf;
}