@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root, [data-theme] {
  background-color: oklch(var(--b1));
  /* color: var(--fallback-bc,oklch(var(--bc)/1)); */
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: oklch(var(--b3)); */
  overflow-x: hidden;
}

main {
  width: 100vw;
}

::-webkit-scrollbar {
  width: 8px;
}

.card-body::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
}

::-webkit-scrollbar-thumb {
  background: oklch(var(--p));
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: oklch(var(--n));
}

@supports not selector(::-webkit-scrollbar){
  * {
    scrollbar-color: oklch(var(--p)) oklch(var(--b3));
    scrollbar-width: thin;
  }
  
  *:hover {
    scrollbar-color: oklch(var(--p)) oklch(var(--b3));
  }
}

@supports selector(::-webkit-scrollbar){
  * {
    scrollbar-color: unset;
  }
  
  *:hover {
    scrollbar-color: unset;
  }
}